{{#paper-toolbar}}
	  {{#paper-toolbar-tools}}
		    {{#paper-button iconButton=true}}
		      {{paper-icon "menu"}}
		    {{/paper-button}}
		    <h2>
		      Agiler Hero
		    </h2>
		    <span class="flex"></span>
		    {{#paper-button iconButton=true}}
		      {{paper-icon "search"}}
		    {{/paper-button}}
		    {{#paper-button iconButton=true}}
		      {{paper-icon "notification_important"}}
		    {{/paper-button}}
		    {{#paper-button iconButton=true}}
		      {{paper-icon "account_circle"}}
		    {{/paper-button}}
		    {{#paper-button iconButton=true}}
		      {{paper-icon "more_vert"}}
		    {{/paper-button}}
	  {{/paper-toolbar-tools}}
{{/paper-toolbar}}


{{yield}}