{{outlet}}
	

{{#paper-list}}
 {{#paper-subheader}}topic name{{/paper-subheader}}

	
  
    {{#paper-item class="md-3-line"}}
      <img src='https://previews.123rf.com/images/pandavector/pandavector1704/pandavector170406117/76645972-man-with-beard-icon-flat-single-avatar-icon-.jpg' alt="no image" class="md-avatar">
      <div class="md-list-item-text">
        <div class="layout-row layout-align-space-between">
		<h3>Atreya</h3>
		<h4 class="time-head">2d ago</h4>
		</div>
        <p>hello</p>
      </div>
	  {{paper-divider inset=true}}
    {{/paper-item}}

	{{#paper-item class="md-3-line"}}
      <img src='https://previews.123rf.com/images/pandavector/pandavector1704/pandavector170406111/76645975-woman-icon-flat-single-avatar-icon-.jpg' alt="no image" class="md-avatar">
      <div class="md-list-item-text">
		<div class="layout-row layout-align-space-between">

        <h3>Priyanka</h3>
		<h4 class="time-head">2d ago</h4>
        </div>
        <p>hey there</p>
      </div>
	  {{paper-divider inset=true}}
    {{/paper-item}}

	{{#paper-item class="md-3-line"}}
      <img src='https://previews.123rf.com/images/pandavector/pandavector1704/pandavector170406100/76736962-bald-head-icon-flat-single-avatar-peaople-icon-from-the-big-avatar-flat-.jpg' alt="no image" class="md-avatar">
      <div class="md-list-item-text">
		  <div class="layout-row layout-align-space-between">
        <h3>Swarnim</h3>
		<h4 class="time-head">1d ago</h4>
        </div>
        <p>Don't you guys worry. I'm here. No fear.</p>
      </div>
	  {{paper-divider inset=true}}
    {{/paper-item}}

	{{#paper-item class="md-3-line"}}
      <img src='https://previews.123rf.com/images/pandavector/pandavector1704/pandavector170406110/76645977-bald-man-icon-flat-single-avatar-icon-.jpg' alt="no image" class="md-avatar">
      <div class="md-list-item-text">
		  <div class="layout-row layout-align-space-between">
        <h3>Ankit</h3>
		<h4 class="time-head">08:30</h4>
        </div>
        <p>Hello mates</p>
      </div>
	  {{paper-divider inset=true}}
    {{/paper-item}}

	{{#paper-item class="md-3-line"}}
      <img src='https://previews.123rf.com/images/pandavector/pandavector1704/pandavector170406100/76736962-bald-head-icon-flat-single-avatar-peaople-icon-from-the-big-avatar-flat-.jpg' alt="no image" class="md-avatar">
      <div class="md-list-item-text">
		  <div class="layout-row layout-align-space-between">
        <h3>Anirudha</h3>
		<h4 class="time-head">13:45</h4>
        </div>
        <p>Aye aye, captain</p>
      </div>
	  {{paper-divider inset=true}}
    {{/paper-item}}

	<div class="text-box">
    
    	<div>
        	<span class="flex"></span>         
			{{paper-input label="message" type="text" value=name2 block=true onChange=(action (mut name2)) iconRight="send" icon="add"}}    
		</div>
	</div>
{{/paper-list}}