{{outlet}}
<h3 class=leftmargin>News Feeds</h3>
<h5 class=leftmargin>Today</h5>
{{#paper-card as |card|}}

      {{#paper-list}}
 
    {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        <span>
           <strong>Swarnim</strong> created a project named <strong>Movie-app</strong>
        </span>
        <p>5 mins ago</p>
      </div>
      {{paper-divider}}
     
    {{/paper-item}}

{{/paper-list}}
 {{#paper-list}}
 
    {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        <span>
           <strong>Atreya</strong> subscribed to a project called <strong>toDoList</strong>
        </span>
        <p>1h ago</p>
      </div>
      {{paper-divider}}
      
    {{/paper-item}}

{{/paper-list}}
 {{#paper-list}}
 
    {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        <span>
           <strong>Ankit </strong>completed a task named <strong>create routes</strong>
        </span>
        <p>2h ago</p>
      </div>
   
     
    {{/paper-item}}

{{/paper-list}}

    {{/paper-card}}
 {{paper-divider}} 


<h5 class=leftmargin>Yesterday</h5> 
{{#paper-card as |card|}}
{{#paper-list}}
 
    {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        <span>
           <strong>Aniruddha</strong> added a task <strong>user interface</strong> to <strong>super-app</strong>
        </span>
        <p>10:00am</p>
      </div>
      {{paper-divider}}
     
    {{/paper-item}}

{{/paper-list}}

{{#paper-list}}
 
    {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
       <span>
           <strong>Swarnim</strong> created a project named <strong>Super-app</strong>
        </span>
        <p>9:30am</p>
      </div>
      {{!-- {{paper-divider}} --}}
     
    {{/paper-item}}

{{/paper-list}}
{{/paper-card}}
{{!-- {{#paper-card as |card|}}
      {{#card.content}}
        <span>
           <strong>Aniruddha</strong> added a task <strong>user interface</strong> to <strong>super-app</strong>
        </span>
        {{/card.content}}
        {{#card.actions}}
       <time>10:00am</time>
      {{/card.actions}}
    {{/paper-card}} --}}
{{!-- 
{{#paper-card as |card|}} --}}
      {{!-- {{#card.content}}
        <span>
           <strong>Swarnim</strong> created a project named <strong>Super-app</strong>
        </span>
        {{/card.content}}
        {{#card.actions}}
       <time>9:30am</time>
      {{/card.actions}}
    {{/paper-card}} --}} 

