{{outlet}}

<div class="container">
{{#each data as |activity|}}
	{{#paper-card as |card| }}

  
   
 <p {{action "transitionToProjectView" activity}}>{{activity.projectName}}</p>
 
 
  {{#paper-list}}
  {{#each activity.task as |x|}}
    {{#paper-item class="md-3-line"}}
      
      <div class="md-list-item-text">
        <h3>{{x.text}}</h3>
        {{!-- {{x._id}} --}}
        
        {{!-- <p>........</p> --}}
      </div>
    {{/paper-item}}
  {{/each}} 
     {{/paper-list}}
    {{/paper-card}}
    
{{/each}}

</div>