{{outlet}}
<h2>Project Name</h2>
<div class="layout-column">
    {{#each model as |project|}}
    {{/each}}
    {{#each newTask as |topping|}}
        {{#paper-card as |card|}}
            <div class="layout-row layout-align-space-between-start">
            {{#paper-list}}
                
                    {{#paper-item as |controls|}}
    {{#paper-checkbox value=value1 onChange=(action (mut value1))}}
    {{/paper-checkbox}}
                            {{topping.projectName}}
                            {{#card.actions}}
                            {{#paper-button iconButton=true onClick=(action "deleteTask" topping)}}
                                
                                {{paper-icon "delete"}}
                            {{/paper-button}}
                            {{/card.actions}}
                        
                    {{/paper-item}}
                
            {{/paper-list}}
            </div>
        {{/paper-card}}
    {{/each}}
</div>
<div class="layout-row layout-align-center-end">
    {{paper-input label="Add Task" type="text" value=name2 block=true 
    onChange=(action (mut name2))}}
    {{#paper-button iconButton="true" onClick=(action "addTask")}}
        {{paper-icon "add"}}
    {{/paper-button}}
</div>