

<div class="container-searchtopic">
    {{#paper-card as |card|}}
      {{paper-input class="topicsearchbar" label="Find or Start a Topic" value=name onChange=(action (mut name))}}
        {{#card.actions}}
        <a href="#" {{action 'goToDiscussion'}}>
        {{paper-icon "search"}}
        </a>
      {{/card.actions}}
    {{/paper-card}}
</div>

{{#paper-list}}
  {{#paper-subheader}}Existing Discussions{{/paper-subheader}}
    {{#paper-item class="md-2-line" onClick=(action "goToDiscussion" topic)}}
      <div class="md-list-item-text layout-row">
        <div>  
        <h3>Topic Name</h3>
        <p>Desc</p>
        <h4>4 hrs ago</h4>
        </div>
        
      </div>
    {{/paper-item}}
    {{paper-divider}}
    {{#paper-item class="md-2-line" onClick=(action "goToDiscussion" topic)}}
    <div class="md-list-item-text layout-row">
        <div>
        <h3>Topic Name</h3>
        <p>Desc</p>
        <h4>21 hrs ago</h4>
        </div>
        
      </div>
    {{/paper-item}}
    {{paper-divider}}
    {{#paper-item class="md-2-line" onClick=(action "goToDiscussion" topic)}}
    <div class="md-list-item-text layout-row">
        <div>
        <h3>Topic Name</h3>
        <p>Desc</p>
        <h4>1 hr ago</h4>
        </div>
        
      </div>
    {{/paper-item}}
    {{paper-divider}}
{{/paper-list}} 

{{outlet}}
